// pages
@import "pages/main";
@import "components/icons";
@import "components/button";

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    overflow: auto;
}

.container {
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 40px;
}