/* spa-app: release */
html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0; }

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0; }
    table td {
        padding: 0; }

.maxh {
    height: 100%; }

.maxw {
    width: 100%; }

a {
    text-decoration: none; }

/* spa-component: release */
.component {
    box-sizing: border-box; }
    .component.hidden {
        display: none !important; }

/* spa-component-page: release */
.component.page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden; }
    .component.page.active {
        visibility: inherit; }

/* spa-component-grid: release */
.component.grid {
    background-color: #333; }
    .component.grid table {
        width: 100%;
        table-layout: fixed; }
        .component.grid table td.item {
            cursor: pointer;
            padding: 4px 8px;
            vertical-align: middle;
            text-align: center; }
        .component.grid table td.item.mark {
            color: black;
            background-color: green; }
        .component.grid table td.item.focus {
            color: black;
            background-color: orange; }
        .component.grid table td.item.focus.mark {
            color: white;
            background-color: #AE7200; }
        .component.grid table td.item.disable {
            color: grey;
            background-color: #111; }

/* spa-component-input: release */
.component.input {
    width: 250px;
    height: 48px;
    font-size: 24px;
    color: #000; }

/* spa-component-button: release */
.component.button {
    background-color: #dde9ff;
    display: inline-table;
    height: 32px;
    cursor: pointer; }
    .component.button:hover {
        background-color: #bbd3ff; }
    .component.button.focus {
        background-color: #bbd3ff; }
    .component.button.click {
        background-color: #a8c9ff; }
    .component.button .icon {
        height: 32px;
        width: 32px;
        display: table-cell;
        background: no-repeat center center; }
    .component.button .text {
        display: table-cell;
        padding: 2px 10px;
        vertical-align: middle;
        text-align: center; }
        .component.button .text:empty {
            padding: 0; }

/* spa-component-checkbox: release */
.component.checkBox {
    cursor: pointer;
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border: 2px solid #888;
    background-color: #bbb;
    vertical-align: bottom; }
    .component.checkBox.checked {
        background-color: orange; }

@charset "UTF-8";
/* application: release */
#pageInit {
    display: table; }
    #pageInit > .cell {
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle;
        font-size: 150%; }
        #pageInit > .cell > .version {
            position: absolute;
            bottom: 50px;
            right: 50px;
            font-size: 50%; }

#pageMain {
    width: 500px;
    position: relative;
    margin: 0 auto; }
    #pageMain .component.grid {
        background: none; }
    #pageMain > .title {
        text-align: center;
        color: rgba(175, 47, 47, 0.15);
        width: 100%;
        font-size: 100px;
        font-weight: 100; }
    #pageMain .container {
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); }
        #pageMain .container > #taskList > table tbody tr:hover td .btn-remove {
            display: block;
            background-color: transparent; }
        #pageMain .container > #taskList > table tbody tr td {
            height: 40px;
            position: relative;
            padding: 5px 0 10px 0;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6; }
            #pageMain .container > #taskList > table tbody tr td.title {
                width: 75%;
                font-size: 24px;
                line-height: 1.2; }
                #pageMain .container > #taskList > table tbody tr td.title.completed {
                    text-decoration: line-through; }
            #pageMain .container > #taskList > table tbody tr td > .checkBox.toggle {
                text-align: center;
                width: 40px;
                height: auto;
                margin: auto 0;
                -webkit-appearance: none;
                background-color: transparent;
                border: none;
                position: absolute;
                top: 5px;
                left: 5px; }
                #pageMain .container > #taskList > table tbody tr td > .checkBox.toggle:after {
                    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>'); }
                #pageMain .container > #taskList > table tbody tr td > .checkBox.toggle.checked:after {
                    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>'); }
            #pageMain .container > #taskList > table tbody tr td > .btn-remove {
                display: none; }
        #pageMain .container > .form {
            width: 100%;
            margin-top: 30px; }
            #pageMain .container > .form > #taskTitle {
                width: 100%;
                padding: 16px 16px 16px 20px;
                border: none;
                background: rgba(0, 0, 0, 0.003);
                box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
                font-size: 24px;
                height: 60px; }
                #pageMain .container > .form > #taskTitle::-webkit-input-placeholder {
                    font-style: italic;
                    font-weight: 300;
                    color: #e6e6e6; }
                #pageMain .container > .form > #taskTitle::-moz-placeholder {
                    font-style: italic;
                    font-weight: 300;
                    color: #e6e6e6; }
                #pageMain .container > .form > #taskTitle::input-placeholder {
                    font-style: italic;
                    font-weight: 300;
                    color: #e6e6e6; }
                #pageMain .container > .form > #taskTitle:focus {
                    outline: none; }
        #pageMain .container > #taskControl {
            height: 30px;
            margin: 20px 0 0 20px;
            position: relative; }
            #pageMain .container > #taskControl.hidden {
                display: none; }
            #pageMain .container > #taskControl:before {
                content: '';
                position: absolute;
                right: -13px;
                bottom: 0;
                left: -20px;
                height: 50px;
                width: 500px;
                overflow: hidden;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2); }
            #pageMain .container > #taskControl .total > #totalOpen {
                display: inline-block;
                padding-right: 5px; }
            #pageMain .container > #taskControl .total > .title {
                display: inline-block; }
            #pageMain .container > #taskControl .filters {
                float: right;
                margin-right: 90px;
                margin-top: -20px; }
                #pageMain .container > #taskControl .filters__all, #pageMain .container > #taskControl .filters__open, #pageMain .container > #taskControl .filters__completed {
                    display: inline-block;
                    margin-right: 15px;
                    border: 1px solid rgba(175, 47, 47, 0.2);
                    padding: 0 5px 0 5px;
                    text-align: center;
                    border-radius: 5px;
                    position: relative; }
                    #pageMain .container > #taskControl .filters__all:hover, #pageMain .container > #taskControl .filters__open:hover, #pageMain .container > #taskControl .filters__completed:hover {
                        cursor: pointer;
                        border-color: rgba(175, 47, 47, 0.1); }
                    #pageMain .container > #taskControl .filters__all.checked, #pageMain .container > #taskControl .checked.filters__open, #pageMain .container > #taskControl .checked.filters__completed {
                        border-color: rgba(175, 47, 47, 0.1); }
                    #pageMain .container > #taskControl .filters__all > .checkBox, #pageMain .container > #taskControl .filters__open > .checkBox, #pageMain .container > #taskControl .filters__completed > .checkBox {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: 100%; }

.ico-remove {
    background: url("../img/icons/remove.svg") no-repeat; }

.component.button {
    background-color: transparent; }

.component.btn-remove {
    width: 25px;
    height: 25px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 30px; }
    .component.btn-remove:hover {
        color: #af5b5e;
        background-color: transparent; }
    .component.btn-remove:after {
        content: '×'; }

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300; }

