#pageMain {
    position: relative;
    margin: 0 auto;
    overflow: visible;
    margin-top: 10%;

    .component.grid {
        background: none;
    }

    > .title {
        text-align: center;
        color: rgba(175, 47, 47, 0.15);
        width: 100%;
        font-size: 100px;
        font-weight: 100;
        margin: 0;
        height: 120px;
        line-height: 100px;
    }

    .task-list {
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

        > #taskList {
            > table {
                tbody {
                    tr {
                        &:hover {
                            td {
                                .btn-remove {
                                    display: block;
                                    background-color: transparent;
                                }
                            }
                        }

                        td {
                            height: 40px;
                            position: relative;
                            padding: 5px 0 10px 0;
                            border-top: 1px solid rgb(230, 230, 230);
                            border-bottom: 1px solid rgb(230, 230, 230);

                            &.title {
                                width: 75%;
                                font-size: 24px;
                                line-height: 1.2;

                                &.completed {
                                    text-decoration: line-through;
                                }
                            }


                            > .checkBox.toggle {
                                text-align: center;
                                width: 40px;
                                height: auto;
                                margin: auto 0;
                                -webkit-appearance: none;
                                background-color: transparent;
                                border: none;
                                position: absolute;
                                top: 5px;
                                left: 5px;

                                &:after {
                                    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
                                }

                                &.checked:after {
                                    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
                                }
                            }

                            > .btn-remove {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        > .form {
            width:  100%;

            > #taskTitle {
                width: 100%;
                padding: 16px 16px 16px 20px;
                border: none;
                background: rgba(0, 0, 0, 0.003);
                box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
                font-size: 24px;
                height: 60px;

                &::-webkit-input-placeholder {
                    font-style: italic;
                    font-weight: 300;
                    color: #e6e6e6;
                }

                &::-moz-placeholder {
                    font-style: italic;
                    font-weight: 300;
                    color: #e6e6e6;
                }

                &::input-placeholder {
                    font-style: italic;
                    font-weight: 300;
                    color: #e6e6e6;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        > #taskControl {
            height: 50px;
            position: relative;

            &.hidden {
                display: none;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                height: 50px;
                width: 100%;
                overflow: hidden;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
            }

            .total {
                position: absolute;
                left: 10px;
                top: 15px;

                > #totalOpen {
                    display: inline-block;
                    padding-right: 5px;
                }

                > .title {
                    display: inline-block;
                }
            }

            .filters {
                position: absolute;
                right: calc(50% - 212px);
                width: 212px;
                top: 15px;

                &__all {
                    display: inline-block;
                    margin-right: 15px;
                    border: 1px solid rgba(175, 47, 47, 0.2);;
                    padding: 0 5px 0 5px;
                    text-align: center;
                    border-radius: 5px;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                        border-color: rgba(175, 47, 47, 0.1);
                    }

                    &.checked {
                        border-color: rgba(175, 47, 47, 0.1);
                    }

                    > .checkBox {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: 100%;
                    }
                }

                &__open {
                    @extend .filters__all
                }

                &__completed {
                    @extend .filters__all
                }
            }
        }
    }
}
