// top-level page block
#pageMain
    h1.title='todos'
    .task-list
        .form
            input#taskTitle

        #taskList
        #taskControl.hidden
            .total
                #totalOpen
                span.title="item left"
            .filters
                .filters__all='All'
                    #fAll
                .filters__open='Active'
                    #fOpen
                .filters__completed='Completed'
                    #fCompleted


 