@charset "UTF-8";
/* application: develop */
#pageMain {
    position: relative;
    margin: 0 auto;
    overflow: visible;
    margin-top: 10%; }
    #pageMain .component.grid {
        background: none; }
    #pageMain > .title {
        text-align: center;
        color: rgba(175, 47, 47, 0.15);
        width: 100%;
        font-size: 100px;
        font-weight: 100;
        margin: 0;
        height: 120px;
        line-height: 100px; }
    #pageMain .task-list {
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); }
        #pageMain .task-list > #taskList > table tbody tr:hover td .btn-remove {
            display: block;
            background-color: transparent; }
        #pageMain .task-list > #taskList > table tbody tr td {
            height: 40px;
            position: relative;
            padding: 5px 0 10px 0;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6; }
            #pageMain .task-list > #taskList > table tbody tr td.title {
                width: 75%;
                font-size: 24px;
                line-height: 1.2; }
                #pageMain .task-list > #taskList > table tbody tr td.title.completed {
                    text-decoration: line-through; }
            #pageMain .task-list > #taskList > table tbody tr td > .checkBox.toggle {
                text-align: center;
                width: 40px;
                height: auto;
                margin: auto 0;
                -webkit-appearance: none;
                background-color: transparent;
                border: none;
                position: absolute;
                top: 5px;
                left: 5px; }
                #pageMain .task-list > #taskList > table tbody tr td > .checkBox.toggle:after {
                    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>'); }
                #pageMain .task-list > #taskList > table tbody tr td > .checkBox.toggle.checked:after {
                    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>'); }
            #pageMain .task-list > #taskList > table tbody tr td > .btn-remove {
                display: none; }
        #pageMain .task-list > .form {
            width: 100%; }
            #pageMain .task-list > .form > #taskTitle {
                width: 100%;
                padding: 16px 16px 16px 20px;
                border: none;
                background: rgba(0, 0, 0, 0.003);
                box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
                font-size: 24px;
                height: 60px; }
                #pageMain .task-list > .form > #taskTitle::-webkit-input-placeholder {
                    font-style: italic;
                    font-weight: 300;
                    color: #e6e6e6; }
                #pageMain .task-list > .form > #taskTitle::-moz-placeholder {
                    font-style: italic;
                    font-weight: 300;
                    color: #e6e6e6; }
                #pageMain .task-list > .form > #taskTitle::input-placeholder {
                    font-style: italic;
                    font-weight: 300;
                    color: #e6e6e6; }
                #pageMain .task-list > .form > #taskTitle:focus {
                    outline: none; }
        #pageMain .task-list > #taskControl {
            height: 50px;
            position: relative; }
            #pageMain .task-list > #taskControl.hidden {
                display: none; }
            #pageMain .task-list > #taskControl:before {
                content: '';
                position: absolute;
                bottom: 0;
                height: 50px;
                width: 100%;
                overflow: hidden;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2); }
            #pageMain .task-list > #taskControl .total {
                position: absolute;
                left: 10px;
                top: 15px; }
                #pageMain .task-list > #taskControl .total > #totalOpen {
                    display: inline-block;
                    padding-right: 5px; }
                #pageMain .task-list > #taskControl .total > .title {
                    display: inline-block; }
            #pageMain .task-list > #taskControl .filters {
                position: absolute;
                right: calc(50% - 212px);
                width: 212px;
                top: 15px; }
                #pageMain .task-list > #taskControl .filters__all, #pageMain .task-list > #taskControl .filters__open, #pageMain .task-list > #taskControl .filters__completed {
                    display: inline-block;
                    margin-right: 15px;
                    border: 1px solid rgba(175, 47, 47, 0.2);
                    padding: 0 5px 0 5px;
                    text-align: center;
                    border-radius: 5px;
                    position: relative; }
                    #pageMain .task-list > #taskControl .filters__all:hover, #pageMain .task-list > #taskControl .filters__open:hover, #pageMain .task-list > #taskControl .filters__completed:hover {
                        cursor: pointer;
                        border-color: rgba(175, 47, 47, 0.1); }
                    #pageMain .task-list > #taskControl .filters__all.checked, #pageMain .task-list > #taskControl .checked.filters__open, #pageMain .task-list > #taskControl .checked.filters__completed {
                        border-color: rgba(175, 47, 47, 0.1); }
                    #pageMain .task-list > #taskControl .filters__all > .checkBox, #pageMain .task-list > #taskControl .filters__open > .checkBox, #pageMain .task-list > #taskControl .filters__completed > .checkBox {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: 100%; }

.ico-remove {
    background: url("../img/icons/remove.svg") no-repeat; }

.component.button {
    background-color: transparent; }

.component.btn-remove {
    width: 25px;
    height: 25px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 30px; }
    .component.btn-remove:hover {
        color: #af5b5e;
        background-color: transparent; }
    .component.btn-remove:after {
        content: '×'; }

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    overflow: auto; }

.container {
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 40px; }
