.component {

    &.button {
        background-color: transparent;
    }

    &.btn-remove {
        width: 25px;
        height: 25px;
        color: #cc9a9a;
        transition: color 0.2s ease-out;
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 30px;

        &:hover {
            color: #af5b5e;
            background-color: transparent;
        }

        &:after {
            content: '×';
        }
    }
}
