doctype html
html
    head
        title='TodoMVC'
        meta(charset="utf-8")
        meta(name="description" content=package.description)
        link(rel="icon", type="image/png", href="img/favicon.png")

        if develop
            script(type="text/javascript", src="js/develop.js")
            link(rel="stylesheet" href="css/develop.css")
        else
            script(type="text/javascript", src="js/release.js")
            link(rel="stylesheet" href="css/release.css")

    body
        .container
            include ./pages/main.jade
